.project-detail {
  margin: 0 0 20px;
}

.project-range-pdf {
  display: flex;
  justify-content: space-around;
}

.range-info {
  margin-bottom: 4px;
  color: #585858;
}

@media (min-width: 768px) {
  .project-detail {
    margin: 0 20px 0;
  }

  .project-detail.hours,
  .project-detail.billing {
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  .project-detail {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
    margin: 10px 10px 20px;
  }
  .project-detail.info {
    grid-area: a;
  }

  .project-detail.hours {
    grid-area: b;
  }

  .project-detail.billing {
    grid-area: c;
  }

  .project-detail.info,
  .project-detail.hours,
  .project-detail.billing {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}