.home {
  width: 100%;
  overflow: hidden;
  background-color: #f7f6f6;
}

.statistics {
  display: flex;
  flex-direction: column;
  margin: 0 1px 30px;
}

@media (min-width: 768px) {
  .statistics {
    margin: 0 6px 30px;
  }
}

@media (min-width: 1024px) {
  .statistics {
    margin: 0 10px 30px;
  }
}

@media (min-width: 1440px) {
  .statistics {
    display: grid;
    grid-template-areas:
    "a b"
    "a c";
    margin: 0 30px 35px;
    gap: 5px;
  }
  .statistics.hours {
    grid-area: a;
  }
  .statistics.projects {
    grid-area: b;
  }
  .statistics.travels {
    grid-area: c;
  }
  .statistics.hours,
  .statistics.projects,
  .statistics.travels {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .statistics.projects,
  .statistics.travels {
    margin: 0 30px 5px 0;
  }
}

@media (min-width: 1600px) {
  .statistics {
    gap: 10px;
  }
}

@media (min-width: 1920px) {
  .statistics {
    gap: 20px;
    margin: 0 45px;
  }
}