.home {
  width: 100%;
  overflow: hidden;
  background-color: #f7f6f6;
}

.home-title {
  margin-top: 30px
}

.statistics {
  display: flex;
  flex-direction: column;
  margin: 0 1px 30px;
}

@media (min-width: 768px) {
  .statistics {
    margin: 0 6px 30px;
  }
}

@media (min-width: 1024px) {
  .statistics {
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
    margin: 0 10px 30px;
  }
  .statistics.hours {
    grid-area: a;
  }
  .statistics.projects {
    grid-area: b;
  }
  .statistics.travels {
    grid-area: c;
  }
}

@media (min-width: 1440px) {
  .statistics {
    margin: 0 30px 35px;
  }
}

/* @media (min-width: 1600px) {
  .statistics {
    grid-template-areas: "a b c";
  }
  .statistics.hours,
  .statistics.projects,
  .statistics.travels {
    margin: 0;
  }
}

@media (min-width: 1920px) {
  .statistics {
    padding: 0 60px;
    max-width: 1800px;
  }
} */