.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(1,55,70,0.08);
  margin: 10px 15px 6px;
  padding: 0 2px 3px;
  height: 100%;
}

.card-info {
  text-align: center;
  padding: 10px 15px 18px;
}

.card-info h3 {
  margin: 0;
}