.calendar {
  margin: 20px 10px;
  border: 2px solid #013746;
  border-radius: 15px;
  padding: 15px;
  background: #fff;
}

/* CalendarGrid.js styling */
.grid {
  display: grid;
  /* every fraction takes up the same amount of space */
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 10px 0;
  align-items: stretch;
}

.grid-square {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  border: 1px solid #013746;
  background: #fff;
  border-radius: 10px;
  min-height: 48px;
}

.grid-square:hover {
  background: #e3f2fd;
  cursor: pointer;
}

.grid-day {
  margin-bottom: 4px;
  color: #013746;
}

/* CalendarHeader.js styling */

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #013746;
  color: #fff;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.header-button {
  background: #fff;
  color: #013746;
  border: none;
  border-radius: 4px;
  margin: 0 8px;
  padding: 6px 16px;
}

.header-button:hover {
  background: #e3f2fd;
}