.grid {
  background-color: blue;
  display: grid;
  /* every fraction takes up the same amount of space */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.grid-square {
  background-color: green;
  overflow: hidden;
}