.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #e3e1e1;
  max-width: 90%;
}

.modal-content p {
  margin: 0 0 18px;
  padding: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 3px;
}

.modal-buttons button {
  background-color: #013746;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 60%;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .modal-content {
    max-width: 45%;
    margin: 15% auto;
  }
}

@media (min-width: 1440px) {
  .modal-content {
    max-width: 30%;
    margin: 10% auto;
  }
}

@media (min-width: 1600px) {
  .modal-content {
    max-width: 25%;
  }
}