.navbar {
  background-color: #013746;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* Make the navbar stay at the top when scrolling */
  top: 0;
  z-index: 1;
  height: 50px;
}

.navbar-left {
  display: flex;
  margin-right: 2px;
}

.navbar-left svg {
  color: white;
  font-size: 22px;
  padding: 2px;
  margin: 0px 6px;
}

.navbar-left svg:hover {
  background-color: #296d80;
  border-radius: 5px;
}

.logo {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

@media (min-width: 425px) {
  .navbar-left {
    margin-right: 4px;
  }

  .navbar-left svg {
    padding: 4px;
  }

  .logo {
    margin-left: 12px;
  }
}

@media (min-width: 768px) {
  .navbar {
    height: 60px;
  }

  .navbar-left {
    margin-right: 5px;
  }

  .navbar-left svg {
    font-size: 26px;
    padding: 5px;
    margin: 0px 10px;
  }

  .logo {
    margin-left: 18px;
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .navbar {
    height: 65px;
  }

  .navbar-left {
    margin-right: 8px;
  }

  .navbar-left svg {
    font-size: 28px;
  }

  .logo {
    margin-left: 20px;
    font-size: 1.3rem;
  }
}
