.navbar {
  background-color: #013746;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  margin-right: 5px;
}

.navbar-left svg {
  color: white;
  font-size: 28px;
  padding: 5px;
  margin: 0px 10px;
}

.logo {
  margin-left: 8px;
  color: white;
}