.projects {
  margin: 20px 8px;
}

.buttons {
  text-align: end;
  margin-bottom: 15px;
}

.add-project {
  background: #013746;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.add-project:hover {
  background: #296d80;
  cursor: pointer;
}

.projects-list {
  background: #fff;
}

@media (min-width: 768px) {
  .projects {
    margin: 22px 16px;
  }
}

@media (min-width: 1024px) {
  .projects {
    margin: 26px 22px;
  }

  .add-project {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (min-width: 1440px) {
  .projects {
    margin: 30px 40px;
  }
}

@media (min-width: 1600px) {
  .projects {
    margin: 35px 50px;
  }
}
