.projects-view {
  margin: 20px 8px;
}

.project-buttons {
  text-align: end;
  margin-bottom: 15px;
}

.projects-list {
  background-color: #fff;
  border: 1px solid #e3e1e1;
}

.project-title {
  padding: 10px;
  margin: 5px;
}

.go-back {
  color: #fff;
  border: none;
  background-color: #013746;
  font-size: 1.1rem;
  margin-top: 10px;
  display: flex;
  margin-left: 15px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .projects-view {
    margin: 22px 16px;
  }
}

@media (min-width: 1024px) {
  .projects-view {
    margin: 26px 22px;
  }
}

@media (min-width: 1440px) {
  .projects-view {
    margin: 30px 40px;
  }
}

@media (min-width: 1600px) {
  .projects-view {
    margin: 35px 50px;
  }
}
