.sidebar {
  width: 90%;
  height: 100vh; /* height is 100% of viewport height */
  position: fixed;
  border-left: 1px solid #e3e1e1;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item {
  padding: 20px;
  text-decoration: none;
  color: #013746;
  border-bottom: 0.5px solid #e3e1e1;
}

.item:hover {
  background-color: rgb(218, 229, 229);
}

.icon {
  margin-right: 10px;
  vertical-align: middle;
}

.close-icon {
  border: none;
  background-color: #013746;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  width: 34px;
  height: 34px;
  margin: 0 0 0 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 898px) {
  .sidebar {
    width: 20%;
    position: sticky;
    border-left: none;
    border-right: 1px solid #e3e1e1;
    z-index: 0;
    top: 60px; /* Navbar height is 50px high so we have to position the sidebar under the navbar */
    height: calc(100vh - 60px); /* Set sidebar to the full viewport height - the navbar height */
  }

  .sidebar-items {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 17%;
  }

  .sidebar-items {
    font-size: 1.1rem;
  }
}

@media (min-width: 1440px) {
  .sidebar {
    width: 15%;
  }
}

@media (min-width: 1600px) {
  .sidebar {
    width: 12%;
  }
}